<div class="signalementContain mx-4 py-4">
    <h3 class="alertTitle mb-3"><a href="" routerLink="/commentaires">Commentaires /</a></h3>

    <div class="mb-3 mt-4 shadow py-5 px-4 rounded-4">
        <table datatable [dtOptions]="dtOptions" class="table row-border hover w-100"
            *ngIf="tabCommentaires.length > 0">
            <thead>
                <tr class="text-center titleHead">
                    <th scope="col">Nom complet</th>
                    <th scope="col">Email</th>
                    <th scope="col">Num. Annonce</th>
                    <th scope="col">Commentaire</th>
                    <th scope="col">Date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" *ngFor="let signal of tabCommentaires">
                    <td scope="col">{{infoUserSignal.prenom}} {{infoUserSignal.prenom}}</td>
                    <td scope="col">{{infoUserSignal.email}}</td>
                    <td scope="col">{{ signal.annonce_id }}</td>
                    <td scope="col">{{ signal.commentaire }}</td>
                    <td scope="col">{{ signal.updated_at | date:'dd/MM/yy HH:mm:ss' }}</td>
                    <td scope="col">
                        <span class="mx-2"><i class="fa-solid fa-eye iconDetail"></i>
                            <!-- data-bs-toggle="modal" data-bs-target="#detailProprietaire" (click)="openProprietaireDetails(proprietaire)" -->
                        </span>
                        <span class="mx-2"><i class="bi bi-x-square-fill iconDetail"></i>
                            <!-- (click)="supprimerProprietaire(proprietaire)" -->
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>