<app-navbar></app-navbar>

<section class="bannerUtilitaires mt-5"></section>

<section class="utilitaires py-3">
    <div class="utilitairesContainer container">
        <h2 class="text-center my-4">Trouvez-vous un utilitaire</h2>
        <div class="trait mb-4"></div>


        <div class="carteAnnonces mb-5 container mt-3">

            <div class="headAnnonces">
                <button class="btn shadow"><a href="" routerLink="/connexion">Vendre mon véhicule</a></button>
                <div class="search shadow">
                    <input type="text" name="textSearch" class="border-0" id="textSearch"
                        placeholder="Faite une recherche..." (input)="filtrerUtilitaireActives($event)">
                    <span><i class="fa-solid fa-magnifying-glass"></i></span>
                </div>
            </div>


            <div class="row cartes m-0 g-4" [attr.data-aos]="'fade-up'" [attr.data-aos-duration]="800" [attr.data-aos-delay]="500">

                <div *ngIf="listeUtilitaires.length === 0">
                    <p class="fw-lighter fw-bold"> <span class="text-danger">Oops!</span> Pas de vehicule utilitaire
                        disponible pour l'instant
                    </p>
                </div>
            
                <div class="col-12 col-md-4" *ngFor="let utilitaire of listeUtilitaires">
                    <div class="card shadow">
                        <div class="cardImg mx-3">
                            <img src="http://127.0.0.1:8000/images/{{utilitaire.image1}}" class="img-fluid imgPrinc w-100" alt="">
                        </div>
                        <div class="cardTitle mx-3">
                            <span class="nom"> {{utilitaire.nom}} </span>
                            <span class="profil"><img src="../../../assets/images/profil/profil3.jpg" class="img-fluid"
                                    alt=""></span>
                        </div>
                        <div class="cardTrait mb-3 mt-2"></div>
                        <div class="cardDetails mx-3">
                            <div class="left">
                                <p><img src="/assets/images/iconSvg/moteur.png" class="" alt=""> {{utilitaire.moteur}} </p>
                                <p><img src="/assets/images/iconSvg/calendar.png" alt="">{{utilitaire.annee}}</p>
                                <!-- <p><img src="/assets/images/iconSvg/Transmission.png" alt="">Transmission</p> -->
                            </div>
                            <div class="Right">
                                <p><img src="/assets/images/iconSvg/dashboard.png" alt="">{{utilitaire.kilometrage}} KM</p>
                                <p><img src="/assets/images/iconSvg/fuel.png" alt="">{{utilitaire?.carburant}}</p>
                            </div>
                        </div>
                        <p class="text-center"><img src="/assets/images/iconSvg/money.png" alt=""> {{utilitaire.prix}} Fcfa</p>
            
                        <div class="cardTrait"></div>
                        <div class="cardButton mx-3 my-3">
                            <button class="btn fw-bold text-light" (click)="redirectToDetails(utilitaire.id)">Consulter
                                l'annonce</button>
                        </div>
                    </div>
                </div>
            
            </div>

        </div>
    </div>
</section>

<section class="bannerEnd"></section>

<app-scroll-button></app-scroll-button>

<app-footer></app-footer>