<app-navbar></app-navbar>

<section class="bannerMotos mt-5"></section>

<section class="motos py-3">
    <div class="motosContainer container">
        <h2 class="text-center my-4">Trouvez-vous une moto</h2>
        <div class="trait mb-4"></div>


        <div class="carteAnnonces mb-5 container mt-3">

            <div class="headAnnonces">
                <button class="btn shadow"><a href="" routerLink="/connexion">Vendre mon véhicule</a></button>
                <div class="search shadow">
                    <input type="text" name="textSearch" class="border-0" id="textSearch"
                        placeholder="Faite une recherche...">
                    <span><i class="fa-solid fa-magnifying-glass"></i></span>
                </div>
            </div>

            <div class="row cartes m-0 g-4">

                <div class="col-12 col-md-4" *ngFor="let moto of listeMotos">
                    <div class="card shadow">
                        <div class="cardImg mx-3">
                            <img src="http://127.0.0.1:8000/images/{{moto.image1}}" class="img-fluid imgPrinc" alt="">
                        </div>
                        <div class="cardTitle mx-3">
                            <span class="nom">{{moto.nom}}</span>
                            <span class="profil"><img src="../../../assets/images/profil/profil3.jpg" class="img-fluid"
                                    alt=""></span>
                        </div>
                        <div class="cardTrait mb-3 mt-2"></div>
                        <div class="cardDetails mx-3">
                            <div class="left">
                                <p><img src="/assets/images/iconSvg/moteur.png" class="" alt=""> {{moto.moteur}} </p>
                                <p><img src="/assets/images/iconSvg/calendar.png" alt="">{{moto.annee}}</p>
                                <!-- <p><img src="/assets/images/iconSvg/Transmission.png" alt="">Transmission</p> -->
                            </div>
                            <div class="Right">
                                <p><img src="/assets/images/iconSvg/dashboard.png" alt="">{{moto.kilometrage}} KM</p>
                                <p><img src="/assets/images/iconSvg/fuel.png" alt="">{{moto.carburant}}</p>
                            </div>
                        </div>
                        <p class="text-center"><img src="/assets/images/iconSvg/money.png" alt="">{{moto.prix}} Fcfa</p>
                        <div class="cardTrait"></div>
                        <div class="cardButton mx-3 my-3">
                            <button class="btn" (click)="redirectToDetails(moto.id)">Consulter l'annonce</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="bannerEnd"></section>

<app-scroll-button></app-scroll-button>

<app-footer></app-footer>