<div class="blogsContain mx-4 py-4">
    <h3 class="mb-4"><a href="" routerLink="/blogs">Blogs /</a></h3>

    <div class="cartesBlogs mt-3 shadow px-4 py-4">
        <div class="headerBlog">
            <button class="btnAddBlog btn" data-bs-toggle="modal" data-bs-target="#ajoutBlog">Ajouter un blog</button>
            <span class="search d-flex justify-content-center align-content-center">
                <input type="search" class="form-control border-1 rounded-end-0" name="search" placeholder="faite une recherche..." [(ngModel)]="searchTerm">
                <span class="searchIcon rounded-end-2"><i class="fa-solid fa-magnifying-glass"></i></span>
            </span>
        </div>

        <div class="row mt-3 g-5">
            <div class="col-12 col-md-12" *ngFor="let blog of Blogs">
                <div class="card p-2 shadow">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <div class="cardImg">
                                <img src="http://127.0.0.1:8000/images/{{blog.image}}" class="img-fluid  w-100" alt="">
                            </div>
                        </div>
                        <div class="col-12 col-md-8 bodyBlog">
                            <div class="cardbody mx-3 rounded-4">
                                <h5 class="cardtitle mb-4 mt-2 text-center"> {{blog.titre}} </h5>
                                <p class="cardtexte mb-4">
                                    {{blog.description}}
                                </p>
                                <div class="btnCard">
                                    <button class="btn mx-4" (click)="openBlogDetailsModal(blog)" data-bs-toggle="modal"
                                        data-bs-target="#detailBlog">Voir detail</button>
                                    <button class="btn mx-4 btn-primary" 
                                        (click)="prepareEdit(blog)" 
                                        data-bs-toggle="modal"
                                        data-bs-target="#modifierBlog">
                                        Modifier
                                    </button>
                                    <button class="btn mx-4 btn-primary" (click)="supprimerBlog(blog.id)">Supprimer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="pagine mt-5 mb-3 p-0 d-flex justify-content-end">
            <ul class="pagination m-0 ">
                <li class="page-item">
                    <a class="page-link"><i class="fa-solid fa-angles-left"></i></a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item" aria-current="page">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item">
                    <a class="page-link" href="#"><i class="fa-solid fa-angles-right"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</div>



<!-- *ngFor="let image of blog.images -->



<!-- Modal ajout blog -->
<div class="modal fade" id="ajoutBlog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header shadow">
                <h1 class="modal-title fs-5" >Ajouter un blog</h1>
                <span type="button" class="btnCloseModal" data-bs-dismiss="modal"><i class="fa-solid fa-circle-xmark"></i></span>
            </div>
            <div class="modal-body">
               <form action="" (ngSubmit)="addBlog()">
                <div class="mb-3">
                    <label for="titre" class="form-label">Titre du blog</label>
                    <input type="text" class="form-control" name="titre" id="titre" [(ngModel)]="titre">
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Image du blog</label>
                    <!-- <input type="text" class="form-control" name="image" id="image" [(ngModel)]="image"> -->
                    <input (change)="onFileChange($event)" class="form-control" type="file" id="image" name="image" accept="image/*">
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description du blog</label>
                    <input type="text" class="form-control" name="description" id="description" [(ngModel)]="description">
                </div>

                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btnAddBlog">Ajouter</button>
                    <button type="button" class="btn btnFermer" data-bs-dismiss="modal">Fermer</button>
                </div>

               </form>
            </div>
            
        </div>
    </div>
</div>







<!-- Modal Bootstrap pour afficher les détails du blog -->
<div class="modal fade" id="detailBlog" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header shadow">
                <h5 class="modal-title" id="detailBlogLabel">Détails du Blog</h5>
                <span type="button" class="btnCloseModal" data-bs-dismiss="modal"><i class="fa-solid fa-circle-xmark"></i></span>
            </div>
            <div class="modal-body">
                <div class="blogContain">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="">
                                <img src="http://127.0.0.1:8000/images/{{selectedBlog?.image}}" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 detailContain">
                            <div class="">
                                <h5 class="text-center mb-4">{{ selectedBlog?.titre }}</h5>
                                <p class="mb-3">{{ selectedBlog?.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer d-flex justify-content-end shadow">
                <button type="button" class="btn btnFermer" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>






<!-- Modal Bootstrap pour modifier le blog -->
<div id="modifierBlog" class="modal fade" tabindex="-1" *ngIf="blogToEdit">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header shadow">
                <h5 class="modal-title" id="editBlogLabel">Modifier le Blog</h5>
                <span type="button" class="btnCloseModal" data-bs-dismiss="modal" ><i class="fa-solid fa-circle-xmark"></i></span>
            </div>
            <div class="modal-body">
                <form (submit)="editBlog()">
                    <div class="mb-3">
                        <label for="editTitle" class="form-label">Titre</label>
                        <input type="text" class="form-control" id="editTitle" name="titre" [(ngModel)]="blogToEdit.titre">
                    </div>
                    <div class="mb-3">
                        <label for="editImage" class="form-label">Image</label>
                        <input type="file" class="form-control" id="editImage" name="image" [(ngModel)]="blogToEdit.image">
                    </div>
                    <div class="mb-3">
                        <label for="editDescription" class="form-label">Description</label>
                        <textarea class="form-control" id="editDescription" name="description"
                            [(ngModel)]="blogToEdit.description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-center shadow">
                <button type="submit" class="btn btnFermer" data-bs-dismiss="modal">Modifier</button>
            </div>
        </div>
    </div>
</div>



<!-- *ngIf="selectedBlog" -->